body {
    background: black;
}

.card {
    background-image: url(./bg.png);
    width: 1230px;
    height: 693px;
    margin: 0 auto;
}
.text{
    width: 567px;
    height: 250px;
    margin: 0 auto;

}
.text.a{
    width: 549px;
    height: 129px;
    margin: 0 auto;

}